#Cabesa{
	position: sticky;
	background-color: lightblue;
	top: 0px;
}
#Fixed{
	position: fixed;
	border: 3px black solid;
	border-radius: 3px;
	bottom: 5px;
	right: 5px;
	background-color: lightgreen;
	width: 200px;
	height: 50px;
	text-align: center;
}
img{
	position: relative;
	bottom: 90%;
}